$sign-size: 32px;
$sign-padding: 3px;

.calendar {
  display: block;

  &__column {
    display: inline-block;
  }

  &__sign-container {
    display: block;
    width: $sign-size;
    height: $sign-size;
    padding: $sign-padding;
  }

  &__date-container {
    display: block;
    width: $sign-size;
  }
}