- var x = 0
ul.calendar
    while x++ < width
        li(class="calendar__column js-column")
            div(class='js-date-cell calendar__date-container')
            - var y = 0
            while y++ < height
                div(class='js-prediction-cell calendar__sign-container')