- var x = 0
ul
    while x++ < width
        li
            ul
                li(class=`js-date-cell-${x}`)
                - var y = 0
                while y++ < height
                    li(class=`js-prediction-cell-${x}-${y}`)

