.calendar {
  display: block;

  &__column {
    display: inline-block;
  }

  &__sign-container {
    display: block;
    width: 32px;
    height: 32px;
    padding: 3px;
  }

  &__date-container {
    display: block;
    width: 32px;
  }
}