ul
    each predictionsColumn in predictionColumns
        li
            ul
                li.js-calendar__date-cell
                each prediction in predictionsColumn.contentOptions
                    li.js-prediction-sign