.prediction-cell {
    &_type_1 {
        background-color: black;
    }

    &_type_2 {
        background-color: gray;
    }

    &_type_3 {
        background-color: lightgray;
    }

    &_type_4 {
        background-color: white;
    }

    &_type_5 {
        background-color: red;
    }

    &_type_6 {
        background-color: orange;
    }

    &_type_7 {
        background-color: yellow;
    }

    &_type_8 {
        background-color: rgb(9, 179, 99);
    }

    &_type_9 {
        background-color: cyan;
    }
}