div.slider-view
    div.slider-view__left-panel
        div.js-sign-names &nbsp;
    div.slider-view__center-frame
        div(class='slider-view__sliding-content js-calendar') &nbsp;
        div(class='slider-view__content-overlap slider-view__content-overlap_location_top-left') &nbsp;
        div(class='slider-view__content-overlap slider-view__content-overlap_location_top-right') &nbsp;
        div(class='slider-view__content-overlap slider-view__content-overlap_location_bottom-left') &nbsp;
        div(class='slider-view__content-overlap slider-view__content-overlap_location_bottom-right') &nbsp;
    div.slider-view__right-panel
        div.js-description &nbsp;