div.slider-frame
    div.slider-frame__left-panel
        div.js-sign-names &nbsp;
    div.slider-frame__center-frame
        div(class='slider-frame__sliding-content js-calendar') &nbsp;
        div(class='slider-frame__content-overlap slider-frame__content-overlap_location_top-left') &nbsp;
        div(class='slider-frame__content-overlap slider-frame__content-overlap_location_top-right') &nbsp;
        div(class='slider-frame__content-overlap slider-frame__content-overlap_location_bottom-left') &nbsp;
        div(class='slider-frame__content-overlap slider-frame__content-overlap_location_bottom-right') &nbsp;
    div.slider-frame__right-panel
        div.js-description &nbsp;