$sign-size: 32px;
$cell-padding: 3px;
$sign-names-width: 100px;

.year-sign-list {
  display: table;
  position: relative;
  top: 0px;
  left: 0px;

  &,
  & * {
    margin: 0px;
    padding: 0px; 
    margin-block-start: 0px;
    margin-inline-start: 0px;
    margin-block-end: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-block-start: 0px;
    padding-block-end: 0px;
    padding-inline-end: 0px;
  }

  &__sign-name {
    position: relative;
    height: $sign-size;
    padding: $cell-padding;
    cursor: pointer;

    &:hover,
    &.selected { 
      font-weight: bold;
    }
  }
}

.sign-text {
  display: table-cell;
  vertical-align: middle;
  height: $sign-size;
  width: $sign-names-width;
  text-align: right;
  padding-right: 10%;
  font-size: 1.1rem;
}