.prediction-sign {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;

    &_type_1 {
        background-image: url(../../../img/t24.svg); 
    }

    &_type_2 {
        background-image: url(../../../img/o24.svg); 
    }

    &_type_3 {
        background-image: url(../../../img/l24.svg);
    }

    &_type_4 {
        background-image: url(../../../img/p24.svg);
    }

    &_type_5 {
        background-image: url(../../../img/x24.svg); 
    }

    &_type_6 {
        background-image: url(../../../img/r24.svg); 
    }

    &_type_7 {
        background-image: url(../../../img/h24.svg); 
    }

    &_type_8 {
        background-image: url(../../../img/u24.svg); 
    }

    &_type_9 {
        background-image: url(../../../img/g24.svg); 
    }
}